/* directory_document.css - Style sheet for waycast directory documents
 *
 *   Summoned by each waycast directory document as configured in file `directory_document.conf`,
 *   this style sheet works on the client side — in the reader’s Web browser — where it formats
 *   the presentation of the directory.
 */


body > * /* Body children as opposed to body, so limiting *h1* by its own *em* scale */
{
    max-width: 35em; /* Limit text lines to a readable length */
}


table#indexlist
{
    white-space: nowrap;
}


tr.indexbreakrow /* Horizontal lines */
{
    opacity: 0.4;
}



/* ---  C o l u m n   " d e s c r i p t i o n "  -------------------------------------------------------
 */

.indexcoldesc
{
    padding-left: 0.5em;
}



/* ---  C o l u m n   " l a s t   m o d i f i e d "  ---------------------------------------------------
 */

.indexcollastmod
{
    padding-left: 0.5em;
}


td.indexcollastmod
{
    opacity: 0.6;
}



/* ---  C o l u m n   " n a m e "  ---------------------------------------------------------------------
 */

td.indexcolname > a
{
    color: inherit; /* Defeat colour as unecessary and distracting */
    text-decoration: none; /* Defeat here any default underlining (Chrome) as unecessary clutter */
}


tr.indexbreakrow + tr.even > td.indexcolname /* "Parent Directory" */
{
    opacity: 0.6;
}



/* ---  C o l u m n   " s i z e "  ---------------------------------------------------------------------
 */

.indexcolsize
{
    padding-left: 1.0em;
}


td.indexcolsize
{
    opacity: 0.8;
}



/* ---  H e a d e r   r o w  ---------------------------------------------------------------------------
 */

tr.indexhead
{
    filter: opacity(0.6) saturate(0.5);
    text-align: left;
}


tr.indexhead a
{
    text-decoration: none; /* Defeat here any default underlining (Chrome) as unecessary clutter */
}



/* ---  N u m e r i c   b o i l e r p l a t e  ---------------------------------------------------------
 */

td.indexcollastmod, /* "last modified" and    */
td.indexcolsize     /* "size" columns.  [ISS] */
{
    font-family: monospace; /* Vertically align the timestamp fields and numbers */
    font-size: 0.9em; /* Mitigate any ballooning of size caused by monospacing */
}



/* NOTE
 * ----
 *  [ISS]  https://httpd.apache.org/docs/2.4/mod/mod_autoindex.html#indexstylesheet
 */


/* Copyright © 2018-2019 Michael Allan and contributors.  Licence MIT. */
