/* Style sheet for indeces of directory content
 *
 * Referent of the `IndexStyleSheet` configuration directive, this style sheet is summoned
 * to the client side where it formats the presentation of each index page.
 */


body {
    font-family: monospace; }


body > * { /* Body children as opposed to body whole, so limiting child `h1` by its own `em` scale. */
    max-width: 47em; }/* Limit text lines to a readable length. */


h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif; }


table#indexlist {
    white-space: nowrap; }


table#indexlist tr.indexbreakrow { /* Horizontal lines. */
    opacity: 0.4; }



/* ───  C o l u m n   * D e s c r i p t i o n *  ────────────────────────────────────────────────────────
 */

table#indexlist .indexcoldesc {
    padding-left: 0.5em; }



/* ───  C o l u m n   * L a s t   m o d i f i e d *  ────────────────────────────────────────────────────
 */

table#indexlist .indexcollastmod {
    padding-left: 0.5em; }


table#indexlist td.indexcollastmod {
    opacity: 0.5; }



/* ───  C o l u m n   * N a m e *  ──────────────────────────────────────────────────────────────────────
 */

table#indexlist td.indexcolname > a {
    color: inherit; /* Defeat colour as unecessary and distracting. */
    text-decoration: none; } /* Defeat here any default underlining (Chrome) as unecessary clutter. */


table#indexlist tr.indexbreakrow + tr.even > td.indexcolname { /* Of the *Parent Directory* entry. */
    opacity: 0.6; }



/* ───  C o l u m n   * S i z e *  ──────────────────────────────────────────────────────────────────────
 */

table#indexlist .indexcolsize {
    padding-left: 1.0em; }


table#indexlist td.indexcolsize {
    opacity: 0.7; }



/* ───  F o o t e r   b o i l e r p l a t e  ────────────────────────────────────────────────────────────
 *
 * Aka server signature.  https://httpd.apache.org/docs/2.4/mod/core.html#serversignature
 */

table#indexlist + address {
    opacity: 0.6; }



/* ───  H e a d e r   r o w  ────────────────────────────────────────────────────────────────────────────
 */

table#indexlist tr.indexhead {
    filter: opacity(0.6) saturate(0.5);
    text-align: left; }


table#indexlist tr.indexhead a {
    text-decoration: none; } /* Defeat here any default underlining (Chrome) as unecessary clutter. */



/* Copyright © 2018-2020  Michael Allan.  Licence MIT. */
