/* Style sheet for indeces of directory content
 *
 * Referent of an Apache `IndexStyleSheet` configuration directive, this style sheet is fetched
 * to the client side where it orders the presentation of each index page. */


:root {
    font-family: monospace;
    font-size: 1.1em; /* Befitting the text: a table of contents and an abstract. */
    --boilerplateOpacity: 0.55;
    --numericFontSize: 0.85em; }


body > * { /* Body children as opposed to body whole, so limiting child `h1` by its own `em` scale. */
    max-width: 47em; }/* Limit text lines to a readable length. */



h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif; }



table#indexlist {
    font-size: unset; /* Defeating the default enlargement of Firefox (91.13). */
    white-space: nowrap; }


table#indexlist tr.indexbreakrow + tr.even > td.indexcolicon, /* Of the *Parent Directory* entry. */
table#indexlist tr.indexbreakrow + tr.even > td.indexcolname {
    opacity: 0.3; }



/* ───  C o l u m n   * D e s c r i p t i o n *  ──────────────────────────────────────────────────────── */


table#indexlist .indexcoldesc {
    padding-left: 0.5em; }



/* ───  C o l u m n   * L a s t   m o d i f i e d *  ──────────────────────────────────────────────────── */


table#indexlist .indexcollastmod {
    padding-left: 0.5em; }


table#indexlist td.indexcollastmod {
    font-size: var(--numericFontSize);
    opacity: var(--boilerplateOpacity); }



/* ───  C o l u m n   * N a m e *  ────────────────────────────────────────────────────────────────────── */


table#indexlist td.indexcolname {
    padding-left: 0.2em; }


table#indexlist td.indexcolname > a {
    color: inherit; /* Defeat colour as unecessary and distracting. */
    text-decoration: none; } /* Defeat here any default underlining (Chrome) as unecessary clutter. */



/* ───  C o l u m n   * S i z e *  ────────────────────────────────────────────────────────────────────── */


table#indexlist .indexcolsize {
    padding-left: 1.0em; }


table#indexlist td.indexcolsize {
    font-size: var(--numericFontSize);
    opacity: var(--boilerplateOpacity); }



/* ───  H e a d   r o w   &   h o r i z o n t a l   r u l e s  ────────────────────────────────────────── */


table#indexlist tr.indexhead {
    font-size: 0.9em;
    opacity: 0.7;
    text-align: left; }


table#indexlist tr.indexhead > th {
    font-weight: normal; }


table#indexlist tr.indexhead > th > a {
    color: inherit; /* Defeat colour as distracting. */
    text-decoration: none; } /* Defeat here any default underlining (Chrome) as unecessary clutter. */


table#indexlist tr.indexbreakrow/*horizontal rule*/ {
    opacity: 0.1; }


/* Reducing the overlarge head gap.
 */
table#indexlist tr.indexhead > th {
    padding-bottom: 0; }
table#indexlist tr.indexhead + tr.indexbreakrow/*horizontal rule*/ > th {
    padding-top: 0; }



/* ───  S e r v e r   s i g n a t u r e  ────────────────────────────────────────────────────────────────
 *
 * https://httpd.apache.org/docs/2.4/mod/core.html#serversignature
 *
 * Apparently a signature is injected only when a readme file is absent. */

table#indexlist + address {
    opacity: var(--boilerplateOpacity); }



                                          /* Copyright © 2018-2020, 2022  Michael Allan.  Licence MIT. */
