/* Style sheet for indeces of directory content
 *
 * Referent of an `IndexStyleSheet` configuration directive, this style sheet is summoned
 * to the client side where it formats the presentation of each index page. */


body {
    font-family: monospace;
    --reducedFontSize: 0.9em;
    --slightlyEnlargedFontSize: 1.05em; }


body > * { /* Body children as opposed to body whole, so limiting child `h1` by its own `em` scale. */
    max-width: 47em; }/* Limit text lines to a readable length. */


h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif; }


table#indexlist {
    font-size: unset; /* Defeating the implicit enlargement of Firefox (68.10), in favour
      of enlarging the *Name* column alone. */
    white-space: nowrap; }


table#indexlist tr.indexbreakrow { /* Horizontal lines. */
    opacity: 0.4; }


table#indexlist tr.indexbreakrow + tr.even > td.indexcolicon, /* Of the *Parent Directory* entry. */
table#indexlist tr.indexbreakrow + tr.even > td.indexcolname {
    opacity: 0.6; }


table#indexlist tr.indexhead {
    font-size: var(--slightlyEnlargedFontSize);
    opacity: 0.7; }



/* ───  C o l u m n   * D e s c r i p t i o n *  ──────────────────────────────────────────────────────── */


table#indexlist .indexcoldesc {
    padding-left: 0.5em; }


table#indexlist td.indexcoldesc {
    font-size: var(--slightlyEnlargedFontSize); }



/* ───  C o l u m n   * L a s t   m o d i f i e d *  ──────────────────────────────────────────────────── */


table#indexlist .indexcollastmod {
    padding-left: 0.5em; }


table#indexlist td.indexcollastmod {
    font-size: var(--reducedFontSize);
    opacity: 0.5; }



/* ───  C o l u m n   * N a m e *  ────────────────────────────────────────────────────────────────────── */


table#indexlist td.indexcolname {
    font-size: 1.2em;
    padding-left: 0.2em; }


table#indexlist td.indexcolname > a {
    color: inherit; /* Defeat colour as unecessary and distracting. */
    text-decoration: none; } /* Defeat here any default underlining (Chrome) as unecessary clutter. */



/* ───  C o l u m n   * S i z e *  ────────────────────────────────────────────────────────────────────── */


table#indexlist .indexcolsize {
    padding-left: 1.0em; }


table#indexlist td.indexcolsize {
    font-size: var(--reducedFontSize);
    opacity: 0.7; }



/* ───  H e a d e r   r o w  ──────────────────────────────────────────────────────────────────────────── */


table#indexlist tr.indexhead {
    filter: opacity(0.6) saturate(0.5);
 /* font-family: sans-serif; */
    text-align: left; }


table#indexlist tr.indexhead a {
    text-decoration: none; } /* Defeat here any default underlining (Chrome) as unecessary clutter. */



/* ───  S e r v e r   s i g n a t u r e  ────────────────────────────────────────────────────────────────
 *
 * https://httpd.apache.org/docs/2.4/mod/core.html#serversignature
 *
 * Apparently a signature is injected only when a readme file is absent. */

table#indexlist + address {
    opacity: 0.6; }



                                                /* Copyright © 2018-2020  Michael Allan.  Licence MIT. */
